
/* popup */

.popup{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 320px;
    height: 1184px;
  }
  
  .popup img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .popup_close_btn{
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgb(48, 48, 48);
    border: transparent;
    color: var(--beige-color);
    font-size: 1.5rem;
  }
  
  /* main_visual */
  
  .main_visual .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-top: calc(121px + 56px);
    box-sizing: border-box;
  }
  
  .swiper-button-prev:after {
    content: "";
  }
  .swiper-button-next:after {
    content: "";
  }
  
  .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-button-next, .swiper-button-prev{
    transform: translateY(100px);
  }
  
  .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
  }
  .swiper-pagination-bullet-active {
    width: 10px;
    height: 10px;
    background-color: #fff;
  }
  
  /* new_event */
  
  .evet_rt {
    width: 40%;
  }
  
  video {
    width: 100%;
    border-radius: 6px;
  }
  
  .new_event .inner{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 100px 0;
  }
  
  .new_event .inner>div {
    display: flex;
    justify-content: space-between;
  }
  
  .evet_lt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .evet_lt_top {
    display: flex;
    gap: 100px;
  }
  
  .evet_lt_top_rt {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .new_event .evet_lt_bt{
    transform: translateY(-15px);
  }
  
  /* new_event_slide */
  .new_event_slide .swiper {
    width: 25%;
  }
  .new_event_slide {
    display: flex;
    gap: 50px;
    width: 1200px;
    position: relative;
  }
  
  .new_event_slide .swiper-pagination-bullet-active {
    background-color: #000;
  }
  
  
  .new_event .swiper{
    border: 1px solid var(--beige-color);
  }
  
  .new_event .slide_top {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--beige-color);
  }
  
  .new_event .slide_top_lt{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .new_event .slide_top_lt strong{
    color: var(--brown-color); 
    font-size: 1.8rem;
    width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
  }
  .new_event .slide_top_lt em{
    color: var(--main-color); 
    font-size: 1.2rem;
  }
  
  .new_event .slide_bt {
    padding: 20px;
    box-sizing: border-box;
  }
  
  .new_event .slide_bt p{
    color: var(--main-color);
    font-size: 1.5rem;
  }
  
  .new_event .swiper {
    border: 1px solid var(--beige-color);
    border-radius: 10px;
  }
  /* txt_ani */
  
  .txt_ani {
    position: relative;
    padding: 100px 0;
    background: url(../images/img_banner_1_1.jpg) no-repeat center/cover fixed;
  }
  
  .txt_ani img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .txt_ani_1 {
    position: relative;
    left: 30%;
    width: 360px;
    top: 50%;
  }
  .txt_ani_2 {
    position: relative;
    width: 250px;
    left: calc(30% + 100px);
    top: calc(60% + 150px);
  }
  
  .txt_ani .inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  /* dunkin_menu */
  .dunkin_menu .inner {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 100px 0;
    text-align: center;
  }
  
  .menu_bt {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .menu_over ul{
    display: flex;
    gap: 50px;
  }
  
  .menu_over li{
    width: 20%;
    display: flex;
    flex-direction: column;
  }
  
  .menu_over li strong{
    font-size: 1.5rem;
    padding-top: 20px;
    color: var(--brown-color);
  }
  
  .menu_over li .more{
    display: block;
    margin-top: 30px;
    padding-bottom: 100px;
  }
  
  .menu_over li>div{
    background-color: var(--beige-color);
    width: 200px;
    height: 200px;
    border-radius: 200px;
  }
  .menu_over li .wt{
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    transition: all 0.2s;
  }
  
  .menu_over li:hover .wt{
    transform: translate(5px, -5px);
  }
  
  /* img_ani */
  
  .img_ani{
    background: url(../images/img_banner_1_2.jpg)no-repeat center/cover fixed;
  }
  
  .img_ani .img_box{
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  
  .img_ani .txt{
    display: flex;
    flex-direction: column;
  }
  
  .img_ani .txt p{
    padding-bottom: 4px;
  }
  
  .img_ani .txt strong{
    font-weight: bold;
    font-size: 1.7rem;
    padding-bottom: 10px;
  }
  
  .img_ani .img1 img,
  .img_ani .img2 img{
    position: relative;
  }
  
  .img_ani .img1 .txt{
    color: white;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    top: 45%;
    left: 25%;
  } 
  
  .img_ani .img1 .txt em{
    color: var(--point-gray);
  }
  .img_ani .img2 .txt{
    color: var(--brown-color);
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    top: 45%;
    left: 40%;
  }
  
  .img_ani .img1{
    transform: translateY(-100px) rotateY(0deg);
    transition: all 1s;
  }
  .img_ani .img1.ani_img{
    transform: translateY(-100px) rotateY(360deg);
  }
  .img_ani .img2{
    transform: translateY(100px) rotateY(0deg);
    transition: all 1s;
  }
  .img_ani .img2.ani_img{
    transform: translateY(100px) rotateY(360deg);
  }
  
  /* dunkin_sns */
  
  .sns_area ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .sns_area ul li {
    width: 20%;
  }
  
  .dunkin_sns_tit_box strong {
    text-align: center;
    display: block;
    font-size: 1.5rem;
    padding-top: 30px;
  }
  
  .sns_area a {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid var(--beige-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
  }
  
  .sns_area li:nth-child(1) div{
    width: 26px;
    height: 20px;
    background: url(../images/icon_sns_l.png) no-repeat 0 0px;
  }
  .sns_area li:nth-child(2) div{
    width: 26px;
    height: 20px;
    background: url(../images/icon_sns_l.png)no-repeat 0 -19px;
  }
  .sns_area li:nth-child(3) div{
    width: 26px;
    height: 20px;
    background: url(../images/icon_sns_l.png)no-repeat 0 -37px;
  }
  .sns_area li:nth-child(4) div{
    width: 26px;
    height: 20px;
    background: url(../images/icon_sns_l.png)no-repeat 0 -56px;
  }
  .sns_area li:nth-child(5) div{
    width: 26px;
    height: 20px;
    background: url(../images/icon_sns_l.png)no-repeat 0 -73px;
  }
  
  .sns_area a:hover{
    background-color: #ab9b7f9c;
  }
  
  .dunkin_sns .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .dunkin_sns {
    padding: 100px 0 100px 0;
  }
  
  .dunkin_sns i{
    color: var(--beige-color);
    font-size: 2rem;
    line-height: 50px;
  }
  
  /* mouse */
  
  .mouse{
    overflow: hidden;
  }
  
  .mouse ul{
    display: flex;
    width: calc(200px * 15);
  }
  
  .mouse ul li{
    width: 200px;
    height: 200px;
  }
  
  .mouse ul li img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  