@font-face {
    font-family: 'InkLipquid';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
*{
  font-family: 'SUITE-Regular';
}

/* layout */
body{
    overflow-x: hidden;
}

.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner{
    width: 1190px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20%;
}
/* tit_box */
.tit_box{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.tit_box strong{
    font-family: 'InkLipquid';
    font-size: 2rem;
}

.tit_box h2{
    font-family: 'yg-jalnan';
    font-size: 2.5rem;
}
 /* swiper slider  */
 .swiper-button-next {
    background-color: #fff;
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 30px;
    box-shadow: 0 0 10px gray;
    opacity: 0.9;
  }
  
  .swiper-button-prev {
    background-color: #fff;
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 30px;
    box-shadow: 0 0 10px gray;
    opacity: 0.9;
  }
  
  .swiper-button-next:after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    border-top: 2px solid rgb(0, 0, 0);
    border-right: 2px solid rgb(0, 0, 0);
  }
  .swiper-button-prev:after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    border-bottom: 2px solid rgb(0, 0, 0);
    border-left: 2px solid rgb(0, 0, 0);
  }
  
  .swiper-button-disabled {
    display: none;
  }
  
  .swiper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

  /* tab menu */
  
  .tab_menu {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
  }
  
  .tab_btn {
    padding: 5px 7px;
    border: transparent;
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid lightgray;
    margin: 20px 0;
  }

/* header */
header .inner{
    display: flex;
    justify-content: space-between;
}
header {
    margin-top: 20px;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    z-index: 10;
  }
header .hd_lt span {
    display: flex;
    gap: 10px;
}
header .hd_lt p{
    background-color: white;
    padding: 5px 10px;
    line-height: 20px;
    border-radius: 20px;
    border: 1px solid black;
    transition: all 0.2s;
}

header .hd_lt p:hover{
    background-color: black;
    color: white;
    font-weight: bold;
}
header .hd_rt .icon_box .search_area{
  display: flex;
  gap: 10px;
}
header .icon_box .search_area input{
  border: transparent;
  width: 250px;
  border-radius: 50px;
  padding-left: 10px;
  border: 2px solid #2F784B;
}
header .icon_box .search_area button{
  border: transparent;
  background-color: transparent;
}
header .icon_box i{
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s;
}
header .icon_box i:hover{
    color: rgb(189, 255, 114);
}
header .icon_box {
    display: flex;
    gap: 15px;
}

/* footer */
footer{ 
    background: url(../images/main_img/Orange_back.png) no-repeat center /cover fixed;
    width: 100%;
    height: 1000px;
}
footer .back{
    background: url(../images/main_img/footer.png)no-repeat top / cover;
    height: 100%;
    width: 100%;
}
.ft_top_lt dl{
  display: flex;
  justify-content: space-between;
  padding: 0 20%;
}
.ft_top_lt dt{
  font-weight: bold;
  padding-bottom: 20px;
}
.ft_top_lt dl div:nth-child(4){
  display: flex;
  flex-direction: column;
}
.ft_top_lt dl div:nth-child(4) img{
  width: 40px;
  object-fit: contain;
}
.ft_top_lt dl>div{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ft_top_lt dl .icon_box{
  padding-top: 50px;
}

.ft_top{
  
  padding-top: 450px;
  padding-bottom: 50px;
}
.ft_bt::before{
  content: '';
  height: 2px;
  width: 100%;
  background-color: #2F784B;
  margin-bottom: 50px;
}
.ft_bt{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 50px;
  gap: 10px;
}
