body{
    overflow-x: hidden;
}

.pc_show{
    display: block;
}
.pc_hide{
    display: none;
}

@media (max-width:1200px){
    .tb_show{
        display: block;
    }
    .tb_hide{
        display: none;
    }

    .inner{
        padding: 0 20px;
    }

    .service ul li{
        width: calc(100% / 6);
    }
}

@media (max-width:1000px){
    .mb_show{
        display: block;
    }
    .mb_hide{
        display: none;
    }

    .main_lt{
        width: calc(100vw - 40px);
    }
    .main_rt{
        width: 100vw;
    }

    .main .inner{
        flex-direction: column;
    }

    .service ul li{
        width: calc(100% / 4);
    }

    .keyword .inner{
        height: 150px;
    }
}