
.tab_menu {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }
  
  
  .section_4 .tab_menu li.active .tab_btn {
    background-color: rgb(29, 81, 63);
    color: #fff;
    border: transparent;
  }
  .section_4 .tab_menu li .tab_btn {
    padding: 8px 15px;
    border: transparent;
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid lightgray;
    margin: 20px 0;
    font-size: 1.5rem;
  }

  @font-face {
  font-family: "JalnanGothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  list-style-type: none;
  font-weight: normal;
  font-style: normal;
}

:root {
  font-size: 10px;
  --main-bg-color: rgb(29, 81, 63);
  --main-ft-color: rgb(218, 215, 205);
}

h1 {
  font-family: "JalnanGothic";
  font-size: 6rem;
}

h2 {
  font-family: "JalnanGothic";
  font-size: 4rem;
}
strong {
  font-size: 2.5rem;
}
p {
  font-size: 2rem;
  font-family: "SUITE-Regular";
}

body {
  overflow-x: hidden;
}

.logo img {
  width: 100px;
  position: absolute;
  right: 150px;
  top: 600px;
}

.drawing{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 5%;
  right: 2.5%;
  z-index: 80;
}
.drawing span{
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.drawing strong{
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "SUITE-Regular";
  color: var(--main-bg-color);
}
.hover_click p{
  font-family: "SUITE-Regular";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.hover_click{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  transition: all 0.3s;
}
.drawing_file{
  width: 100px;
  height: 100px;
  border: transparent;
  border-radius: 50%;
  border: 1px solid var(--main-bg-color);
  animation: rotate_image 6s linear infinite;
  transform-origin: 50% 50%;
  position: relative;
}
.drawing_file img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.drawing_file:hover .hover_click{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
}


/* animation: rotate_image 6s linear infinite; */
@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}

.drawing_area{
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.drawing_area .swiper{
  width: 70%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-52%, -50%);
}
.drawing_area .swiper .swiper-pagination{
  position: absolute;
  bottom: 5%;
}
.drawing_area .swiper-pagination-bullet-active{
  background-color: var(--main-bg-color);
  border: 2px solid white;
}

.drawing_area .swiper .swiper-button-prev,
.drawing_area .swiper .swiper-button-next{
  color: var(--main-bg-color);
}
.drawing_area .swiper .swiper-slide{
  width: 100%;
  height: 100%;
}
.drawing_area .swiper .swiper-slide img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.drawing_close_btn {
  position: absolute;
  right: 2.5%;
  top: 5%;
  transform: translate(-150px, -20px); 
  background-color: white;
  border: transparent;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  transition: all 0.2s;
}
.drawing_close_btn:hover{
  background-color: #928676a2;
}

/* header  */
header {
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  height: 90px;
  width: 100%;
  align-items: center;
  position: fixed;
  box-sizing: border-box;
  z-index: 2;
}

header .title h1 {
  font-family: "JalnanGothic";
  font-size: 2.6rem;
  color: var(--main-bg-color);
  width: 800px;
  position: absolute;
  left: 100px;
}

.title h1::after {
  content: "";
  display: block;
  width: 560px;
  height: 20px;
  border-radius: 50px;
  background-color: rgb(218, 215, 205);
  position: absolute;
  top: 15px;
  z-index: -1;
}

nav ul {
  font-family: "JalnanGothic";
  font-size: 20px;
  color: rgb(29, 81, 63);
  display: flex;
  gap: 50px;
  position: absolute;
  right: 200px;
}

nav ul::after {
  content: "";
  display: block;
  width: 600px;
  height: 2px;
  background-color: rgb(29, 81, 63);
  position: absolute;
  top: 44px;
  right: -10px;
  bottom: 250px;
}


.Home:hover {
  color: rgb(182, 175, 152);
}
.About:hover {
  color: rgb(182, 175, 152);
}
.Portfolio:hover {
  color: rgb(182, 175, 152);
}
.Etc:hover {
  color: rgb(182, 175, 152);
}

.res_btn{
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: var(--main-bg-color);
  border: transparent;
  color: white;
  border-radius: 4px;
  font-size: 24px;
  cursor: pointer;
}

.res_btn:hover{
  background-color: rgb(10, 41, 29);
}

.res_menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
}
.res_menu.active {
  transform: translateY(0);
  transition: all 0.5s;
}

.res_menu .close{
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  display: block;
  color: white;
  font-size: 32px;
  text-align: center;
  line-height: 36px;
  cursor: pointer;
}

.res_menu ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.res_menu a {
  display: block;
  text-decoration: none;
  color: #a3a3a3;
  font-size: 40px;
  line-height: 60px;
  opacity: 0;
}

.res_menu.active a {
  opacity: 1;
  transition: all 2s;
  transition-delay: calc(0.5s * var(--i));
}

.res_menu li:hover a{
  color: white;
  transition: all 0.2s
}