body {
  overflow-x: hidden;
}
.pc_show {
  display: block;
}
.pc_hide {
  display: none;
}

.res_btn{
  display: none;
}
@media (max-width: 1550px) {
  .tb_show {
    display: block;
  }
  .tb_hide {
    display: none;
  }
  .inner {
    padding: 0 50px;
    box-sizing: border-box;
  }
  header .title h1{
    font-size: 1.8rem;
  }
  .title h1::after {
    content: "";
    display: block;
    width: 390px;
    height: 20px;
    top: 10px;
  }
  nav ul {
    font-size: 1.5rem;
    position: absolute;
    right: 200px;
  }

  header .title h1 {
    position: absolute;
    left: 0px;
}
  
  nav ul::after {
    content: "";
    display: block;
    width: 360px;
    position: absolute;
    top: 30px;
  }
  .img_box {
    width: 800px;
    height: 550px;
    position: absolute;
    bottom: 50px;
    left: 120px;
  }
  .circle {
    animation: move 4s forwards;
  }
  @keyframes move {
    0% {
      left: -500px;
    }
    100% {
      left: 700px;
    }
  }
  .img_st {
    left: 800px;
  }

  .main_rt2 {
    gap: 15px;
  }

  .main_rt2 p{
    font-size: 1.5rem;    
    line-height: 20px;
  }
  .main_rt2 strong{
    font-size: 1.8rem;
  }
  .main_rt2  h2{
    font-size: 1.8rem;
  }

  .section_1 {
    gap: 50px;
  }

}
@media (max-width: 1100px) {
  .mb_show {
    display: block;
  }
  .mb_hide {
    display: none;
  }
  .inner {
    padding: 0 20px;
    box-sizing: border-box;
  }

  header .title h1{
    font-size: 1rem;
  }
  .title h1::after {
    content: "";
    display: block;
    width: 220px;
    height: 10px;
    top: 5px;
  }
  nav ul {
    font-size: 1rem;
    gap: 20px;
    position: absolute;
    right: 200px;
  }
  
  nav ul::after {
    content: "";
    display: block;
    width: 210px;
    position: absolute;
    top: 20px;
  }
  .img_box {
    width: 500px;
    height: 550px;
    position: absolute;
    bottom: 150px;
    left: 120px;
  }
  .circle {
    width: 220px;
    height: 220px;
    bottom: 250px;
    animation: move 4s forwards;
  }
  @keyframes move {
    0% {
      left: -500px;
    }
    100% {
      left: 500px;
    }
  }
  .img_st {
    left: 550px;
  }

  .section_1 .img_box2{
    display: none;
  }
  .section_1 {
    flex-direction: column;
  }


  .main_rt2 p{
    font-size: 1.5rem;    
    line-height: 20px;
  }
  .main_rt2 strong{
    font-size: 1.8rem;
  }
  .main_rt2 h2{
    font-size: 1.8rem;
  }
  .section_1 > h1, .section_2 > h1, .section_3 > h1, .section_4 > h1{
    font-size: 5rem;
    top: 120px;
    left: 130px;
  }
  .section_1 > h2, .section_2 > h2, .section_3 > h2, .section_4 > h2 {
    font-size: 3rem;
    top: 140px;
    left: 165px;
  }

  .section_2 .cc1 img,
.cc2 img,
.cc3 img,
.cc4 img,
.cc5 img,
.cc6 img,
.cc7 img,
.cc8 img {
  width: 80%;
  height: 80%;
}

.section_3 .set3_tt h2{
font-size: 2rem;
}
.section_3 .set3_tt h2::after {
  content: "";
  display: block;
  width: 150px;
}
.section_3 .set3_subtt{
  flex-direction: column;
  padding-left: 30%;
  padding-top: 20px;
  
}
.section_3 .set3_img{
  padding-top: 250px;
}
.section_3 .set3_subtt p{
  font-size: 1.5rem;
}
.section_3 .sub_tt_rt> p,
.section_3 .sub_tt_rt> h3{
  display: none;
}

.section_3 .set3_star img{
  right: 350px;
}
}

@media (max-width: 800px) {
  .mb_show {
    display: block;
  }
  .mb_hide {
    display: none;
  }
  .inner {
    padding: 0 20px;
    box-sizing: border-box;
  }
  .res_btn{
    display: block;
  }

  header .title h1{
    font-size: 1rem;
  }
  .title h1::after {
    content: "";
    display: block;
    width: 220px;
    height: 10px;
    top: 5px;
  }
  nav ul {
    display: none;
  }
  
  nav ul::after {
    display: none;
  }
  .img_box {
    width: 300px;
    height: 550px;
    position: absolute;
    bottom: 150px;
    left: 120px;
  }
  .circle {
    width: 150px;
    height: 150px;
    bottom: 200px;
    animation: move 4s forwards;
  }

  
  @keyframes move {
    0% {
      left: -500px;
    }
    100% {
      left: 350px;
    }
  }
  .img_st {
    left: 400px;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 300px;
  }

  .logo img {display: none;
  }

  .main_rt2 p{
    font-size: 1rem;    
    line-height: 20px;
  }
  .main_rt2 strong{
    font-size: 1.2rem;
  }
  .main_rt2 h2{
    font-size: 1.5rem;
  }
  .section_1 .Pf{
    gap: 0px;
  }
  .text_box3 {
    gap: 15px;
    line-height: 0px;
}
.section_1 .Pf span i{
  font-size: 10px;
}
.section_1 .Pf span{
  display: flex;
  flex-direction: column;
}
.section_1 .Pf span p{
  display: flex;
  align-items: center;
}
.section_2 h1 {
  position: absolute;
  top: 100px;
  left: 20px;
}

.section_2 > h2 {
  position: absolute;
  top: 125px;
  left: 55px;
}
.cc_box3{
  align-items: flex-start;
}

.section_3 h1 {
  position: absolute;
  top: 100px;
  left: 20px;
}

.section_3 > h2 {
  position: absolute;
  top: 125px;
  left: 55px;
}
.section_3 .set3_tt {
  position: absolute;
  top: 140px;
  right: 20px;
}

.section_3 .set3_tt h2{
  font-size: 1.5rem;
}
.section_3 .set3_tt h2::after {
  content: "";
  display: block;
  width: 100px;
}
.section_3 .set3_tt img{
  display: none;
}
.section_3 .sub_tt_rt .btn{
  gap: 10px;
}
.section_3 .set3_star img{
  right: 130px;
  top: 200px;
  width: 8%;
  height: 5%;
}

.section_3 .set3_subtt {
  flex-direction: column;
  padding-left: 5%;
  padding-top: 20px;
}

.section_3 .sub_tt_rt .btn{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.section_3 .sub_tt_rt .btn button {
  padding: 12px 15px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  transition: all 0.5s;
}

.section_4 h1 {
  position: absolute;
  top: 100px;
  left: 20px;
}

.section_4 > h2 {
  position: absolute;
  top: 125px;
  left: 55px;
}
.section_4 .tab_menu{
  padding: 0 20px;
}
.section_2 .attr_method {
  box-sizing: border-box;
}
}
