* {
  margin: 0;
  padding: 0;
  text-align: center;
}

li,
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-weight: normal;
}

i,
em {
  font-style: normal;
}

button {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

input {
  background-color: transparent;
  border: transparent;
  padding: 10px;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
