:root {
    font-size: 10px;
    --back-color: #f8faf0;
    --light-gray: #e5e2e0;
    --point-gray: #ff6000;
    --main-color: #75675c;
    --beige-color: #ab9b7f;
    --brown-color: #2c1810;
    --yellow-color: #f9b234;
  }
  
  /* component */
  .tit_box strong {
    font-size: 1.6rem;
    color: var(--brown-color);
  }
  .tit_box em {
    font-size: 1.1rem;
    color: var(--main-color);
  }
  
  .more a {
    border: 1px solid var(--beige-color);
    color: var(--beige-color);
    padding: 10px 30px;
    border-radius: 5px;
    transition: all 0.5s;
  }
  
  .more a:hover{
    background-color: var(--beige-color);
    color: white;
  }
  
  /* layout */
  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .inner {
    width: 1200px;
  }

  
/* aside */

aside{
    border-bottom: 5PX solid var(--brown-color);
    background-color: var(--brown-color);
    
    position: fixed;
    width: 100%;
    z-index: 30;
  }
  
  aside .inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .top_banner_btn{
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    right: 0;
    background-color: var(--brown-color);
    color: var(--yellow-color);
    border: transparent;
    width: 150px;
    height: 30px;
    border-radius: 2px;
  }
  
  .top_banner_btn i{
    transform: translateY(-2px);
    padding-right: 2px;
    box-sizing: border-box;
  }
  
  /* header */
  
  header{
    position: fixed;
    width: 100%;
    z-index: 20;
    background-color: white;
  }
  
  .hd_top {
    background-color: var(--back-color);
  }
  .hd_top .inner {
    display: flex;
    justify-content: space-between;
    height: 121px;
    align-items: center;
  }
  
  .menu1 ul {
    display: flex;
    gap: 30px;
    color: var(--main-color);
  }
  .menu2 ul {
    display: flex;
    gap: 30px;
    color: var(--main-color);
    align-items: center;
  }
  
  .menu2 ul li:nth-child(1){
    color: var(--point-gray);
  }
  
  .hd_bt {
    border-top: 1px solid var(--light-gray);
    border-bottom: 1px solid #000;
    position: relative;
  }
  .hd_bt .inner {
    display: flex;
    justify-content: space-between;
    height: 54px;
    align-items: center;
  }
  
  .menu3 ul {
    display: flex;
    gap: 30px;
    color: var(--beige-color);
    font-weight: 800;
    font-size: 1.2rem;
  }
  .menu4 ul {
    display: flex;
    gap: 50px;
    font-weight: 800;
    font-size: 1.3rem;
  }
  
  /* search_area */
  
  .menu2 ul li button{
    background-color: transparent;
    border: transparent;
  }
  
  .search_area {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search_close_btn {
    position: absolute;
    right: calc(50% - (1103px / 2));
    top: calc(50% - (400px / 2));
    transform: translate(20px, -20px); 
    background-color: var(--brown-color);
    border: transparent;
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }
  
  /* header_depth2 */
  
  .depth2 .flex{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: absolute;
    left: 0;
    top: 54px;
    z-index: 10;
    background-color: white;
    width: 100%;
    height: 300px;
  }
  
  .depth2 ul ul li{
    color: rgb(129, 129, 129);
  }
  .depth2 ul ul li:hover{
    color: var(--yellow-color);
    text-decoration: underline;
  }
  
  .depth2 ul  li{
    color: var(--beige-color);
    font-weight: bold;
  }
  .depth2 ul  li:hover{
    color: black;
  }
  
  .depth2_2 .inner{
    align-items: flex-start;
    height: 100%;
    padding-top: 20px;
    box-sizing: border-box;
  }
  
  .depth2_2 ul ul{
    gap: 10px;
    flex-direction: column;
  }
  .depth2_2 ul ul li{
    gap: 10px;
    flex-direction: column;
  }
  
  .menu4>ul>li>a{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .menu4>ul>li>a:hover::after{
    content: '';
    position: absolute;
    left: 0;
    top: 32px;
    transform: translateY(-50%);
    width: 5px;
    height: 5px;
    border: 3px solid var(--yellow-color);
    background-color: white;
    border-radius: 10px;
    z-index: 100;
  }
  
  .depth2_3 .inner > ul > li {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .depth2_3 ul ul {
    gap: 10px;
    flex-direction: column;
  }
  .depth2_4 .inner > ul > li {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .depth2_4 ul ul {
    gap: 10px;
    flex-direction: column;
  }
  .depth2_5 .inner > ul > li {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .depth2_5 ul ul {
    gap: 10px;
    flex-direction: column;
  }
  
  .depth2_6 .inner > ul > li {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
  }
  
  .depth2_6 ul ul {
    gap: 10px;
    flex-direction: column;
  }
  
  .depth2_7 .inner > ul > li {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .depth2_7 ul ul {
    gap: 10px;
    flex-direction: column;
  }

  
/* footer */

footer{
    font-size: 1rem;
    padding-top: 80px;
    height: 350px;
    color: var(--main-color);
  }
  
  footer .ft_top{
    display: flex;
    justify-content: space-between;
  }
  
  footer .ft_top .ft_top_lt img{
    width: 82px;
    height: 29px;
    object-fit: contain;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  footer .ft_top .ft_top_lt{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  footer .ft_top .ft_top_lt nav{
    display: flex;
    justify-content: space-between;
    width: 320px;
  }
  
  footer .ft_top_rt{
    display: flex;
    justify-content: space-between;
    width: 65%;
    border-top: 1px solid var(--beige-color);
    padding-top: 20px;
  }
  footer .ft_top_rt dl:nth-child(1){
    display: flex;
    gap: 70px;
  }
  
  footer .ft_top_rt dl:nth-child(1) dd,
  footer .ft_top_rt dl:nth-child(1) dt{
    cursor: pointer;
  }
  
  footer .ft_top_rt dl:nth-child(2){
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 20px;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  footer .ft_top_rt dl div{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  footer .ft_top_rt dl:nth-child(1) dt{
    margin-bottom: 10px;
    font-weight: bold;
  }
  footer .ft_top_rt dl:nth-child(2) dt{
    font-weight: bold;
  }
  
  footer .ft_bt{
    display: flex;
    justify-content: space-between;
  }
  
  .ft_bt_lt{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
  }
  
  .ft_bt_lt span{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }
  
  .ft_bt_lt p{
    border:  1px solid var(--main-color);
    width: 150px;
    height: 25px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
    cursor: pointer;
  }
  
  .ft_bt_lt a{
    padding-top: 10px;
    cursor: pointer;
  }
  
  footer .sns_area_2 ul{
    display: flex;
    gap: 5px;
    justify-content: end;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  
  footer .sns_area_2 a {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid var(--beige-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    cursor: pointer;
  }
  
  footer .sns_area_2 li:nth-child(1) div{
    width: 26px;
    height: 20px;
    background: url(../images/icon_sns_l.png) no-repeat 0 0px;
  }
  footer .sns_area_2 li:nth-child(2) div{
    width: 26px;
    height: 20px;
    background: url(../images/icon_sns_l.png)no-repeat 0 -19px;
  }
  footer .sns_area_2 li:nth-child(3) div{
    width: 26px;
    height: 20px;
    background: url(../images/icon_sns_l.png)no-repeat 0 -37px;
  }
  footer .sns_area_2 li:nth-child(4) div{
    width: 26px;
    height: 20px;
    background: url(../images/icon_sns_l.png)no-repeat 0 -56px;
  }
  footer .sns_area_2 li:nth-child(5) div{
    width: 26px;
    height: 20px;
    background: url(../images/icon_sns_l.png)no-repeat 0 -73px;
  }
  
  footer .sns_area_2 a:hover{
    background-color: #ab9b7f9c;
  }
  
  
  footer .ft_bt_rt_bt dl{
    display: flex;
    gap: 12.5px; 
    border-top: 1px solid var(--beige-color);
    padding-top: 20px;
    font-size: 1.1rem;
    cursor: pointer;
  }
  
  footer .ft_bt_rt_bt dl dt{
    color: red;
    font-weight: bold;
  }
  