:root {
  font-size: 10px;
  --back-color: #f8faf0;
  --light-gray: #e5e2e0;
  --point-gray: #ff6000;
  --main-color: #75675c;
  --beige-color: #ab9b7f;
  --brown-color: #2c1810;
  --yellow-color: #f9b234;
}

/* component */
.tit_box strong {
  font-size: 1.6rem;
  color: var(--brown-color);
}
.tit_box em {
  font-size: 1.1rem;
  color: var(--main-color);
}

.more a {
  border: 1px solid var(--beige-color);
  color: var(--beige-color);
  padding: 10px 30px;
  border-radius: 5px;
  transition: all 0.5s;
}

.more a:hover{
  background-color: var(--beige-color);
  color: white;
}

/* layout */
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner {
  width: 1200px;
}
