body {
  overflow-x: hidden;
}

.pc_show {
  display: block;
}
.pc_hide {
  display: none;
}
.mb_head{
  display: none;
}


@media (max-width: 1000px) {
  .mb_show {
    display: block;
  }
  .mb_hide {
    display: none;
  }
  .pc_head .hd_top_lt{
    display: none;
  }
  .hd_bt_rt ul{
    display: none;
  }
  .hd_bt button{
    display: block;
  }
  .ft_top_lt .hide_ft_li{
    display: none;
  }
  .ft_top_lt {
    border-bottom: 1px solid white;
  }
  .ft_top{
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .ft_bt{
    display: none;
  }
  .tokyo_design iframe{
    transform: translate(-50%, 100%);
    width: 500px;
    height: 350px;
  }
  .sale{
    padding-top: 40px;
  }
  .mb_tokyo_design img{
    width: 100%;
    height: 100%;
    object-fit: contain;

  }
  .mb_tokyo_design{
    width:90% ;
    padding: 0 40px;
    padding-bottom: 400px;
  }
  .mb_tokyo_design2{
    display: none;
  }
  .mini_benner .swiper{
    width: 1000px;
    padding: 0 40px;
    height: 200px;
    display: flex;
    justify-content: center;
  }
  .hot_item li nav p{
    font-size: 0.8rem;
  }
  .hot_item li nav button {
    font-size: 0.6rem;
    width: 80px;
  }
  .hot_item li:hover{
    transform: scale(1.2);
   }
   .hot_item li:hover p{
    font-size: 0.9rem;
   }
  .mb_new_img{
    display: none;
  }
  .men li a{
    font-size: 0.8rem;
    padding-bottom: none;
  }
  .men .inner div ul li h3{
    font-size: 1rem;
    padding-bottom: 0px;
  }
  .men .inner div ul li{
    padding-bottom: 0px;
   }
   .news{
    display: none;
   }
}
@media (max-width: 550px) {
  .mb_show {
    display: block;
  }
  .mb_hide {
    display: none;
  }
  .pc_head{
    display: none;
  }
  .mb_head{
    display: block;
  }
  

  .mb_new_img  img{
    width: 100%;
    height: 100%;
    object-fit: contain;

  }
  .mb_new_img {
    width: 100%;
    height: 100%;
    padding: 0 40px;
    object-fit: contain;
  }
  .tokyo_design iframe{
    transform: translate(-50%, 50%);
    width: 500px;
    height: 350px;
  }
  .men li a{
    font-size: 0.6rem;
    padding-bottom: none;
  }
  .men .inner div ul li h3{
    font-size: 0.8rem;
    padding-bottom: 0px;
  }
  .men .inner div ul li{
    padding-bottom: 0px;
   }
}
