@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
/* main_visual */
.main_visual .swiper{
  width: 1190px;
  height: 600px;
  display: flex;
  justify-content: center;
}
.main_visual img{
  width: 100%;
  height: 700px;
  object-fit: contain;
}

/* .sub_benner */
.sub_benner{
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}

.sub_benner img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.swiper-pagination {
  position: absolute;
}

.swiper-pagination-bullet-active{
  background-color: red;
  border: 2px solid white;
 }

 /* tokyo_design */

 .tokyo_design .inner{
  position: relative;
 }
 .tokyo_design .back{
  width: 1190px;
 }
 .tokyo_design .back h2{
  font-family: "Permanent Marker", cursive;
  font-size: 2.5rem;
  transform: translateY(-680px);
 }
 .tokyo_design .back img{
  width: 100%;
  object-fit: contain;
  position: relative;
 }
 .tokyo_design iframe{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(35%, 40%)
}

 .tokyo_design .shs{
  width: 650px;
  position: absolute;
  transform: translate(-40px, 150px);
}

 .tokyo_design .shs img{
  width: 100%;
  object-fit: contain;
 }

 /* tokyo_design2 */

 .tokyo_design2 .shs3 img{
  width: 100%;
  object-fit: contain;
 }
 .tokyo_design2 .shs3 {
  background-color: #E3DDCD;
  margin-top: 100px;
 }
 .tokyo_design2 nav {
  position: absolute;
  transform: translate(155px, -360px);
  width: 380px;
  display: flex;
  flex-direction: column;
 }

 .tokyo_design2 nav strong{
  font-size: 2.5rem;
  font-family: "Permanent Marker", cursive;
  padding-bottom: 10px;
 }
 
 .tokyo_design2 nav em{
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 40px;
 }
 
 .okyo_design2 nav p{
  font-size: 0.8rem;
 }
 
 /* sale */

 .sale .inner{
  position: relative;
  height: 50%;
  display: flex;
  flex-direction: column;
 }
 .sale .swiper{
  width: 1190px;
  height: 300px;
  display: flex;
  justify-content: center;
}
 .sale .swiper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sale h3{
  position: absolute;
  color: white;
  font-size: 3rem;
  top: 15% ;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  
}
.sale .swiper img{
  width: 100%;
  height: 100%;
}

.sale ul{
  display: flex;
  gap: 20px;
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -0%);
}

.sale ul li{
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px gray;
  transition: all 0.5s;
}
.sale ul li:hover{
  transform: translateY(-50px);
}

.sale ul li .box_top img{
  width: 240px;
  border-radius: 10px 10px 0 0 ;
  position: relative;
}
.sale ul li .box_top span{
  position: absolute;
  z-index: 10;
  border-radius: 10px 0 0 0;
  display: block;
  background-color: red;
  height: 50px;
  width: 50px;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
}
.sale ul li .box_md{
  background-color: rgb(43, 43, 43);
  height: 35px;
}
.sale ul li .box_md p{
  font-size: 1rem;
  color: white;
  line-height: 35px;
  text-align: center;
}

.sale ul li .box_bt{
  padding: 15px;
  box-sizing: border-box;
}
.sale ul li .box_bt strong{
  font-weight: bold;
}
.sale ul li .box_bt p{
  font-size: 0.8rem;
  color: rgb(92, 91, 91);
  padding-top: 10px;
}

.sale ul li .box_bt span{
  display: flex;
  gap: 10px;
  align-items: center;
}
.sale ul li .box_bt span p{
  text-decoration: line-through;
  font-size: 1rem;
}

.sale ul li .box_bt em{
  color: red;
  font-size: 1rem;
  font-weight: bold;
  padding-top: 10px;
}
.sale ul li .box_icon{
  display: flex;
  justify-content: space-between;
  background-color:  rgb(43, 43, 43);
  height: 40px;
  border-radius:0 0 10px 10px ;
}

.sale ul li .box_icon button{
  border: transparent;
  color: white;
  background-color: rgb(43, 43, 43);
  transition: all 0.2s;
  border-radius:0 0 10px 10px ;
  text-align: center;
}
.sale ul li .box_icon button:hover{
  color: rgb(255, 134, 134);
}

 /* mini_benner */
 
 .mini_benner{
  padding-top: 350px;
 }

 .mini_benner .swiper{
  width: 1190px;
  height: 300px;
  display: flex;
  justify-content: center;
}
 .mini_benner .swiper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 /* #new */
 
 .news .inner{
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
 }
 .new_img{
  width: 1190px;
  position: relative;
 }

 .new_img img{
  width: 100%;
  object-fit: contain;
 }
 .ani_img{
  width: 150px;
  position: absolute;
  right: 20%;

 }
 .ani_img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
 }
 .news .inner span strong{
  font-size: 1.5rem;
  font-weight: bold;
 }
 .news .inner span p{
  font-size: 1rem;
 }
 .news span{
  justify-content: space-between;
 }
 .news .nav1 {
  text-align: right;
  transform: translateX(140px);
  padding-top: 100px;
  padding-bottom: 50px;
  display: flex;
  justify-content: end;
 }
 .news .nav2 {
  text-align: left;
  transform: translateX(-140px);
  padding-bottom: 50px;
 }

 /* hot_item */
 .hot_item .inner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 100px;
 }
 .hot_item h2{
  font-family: "Permanent Marker", cursive;
  font-size: 2.5rem;
  padding-bottom: 100px;
 }

 .hot_item ul{
  display: flex;
  padding-bottom: 40px;
  gap:20px;
 }

 .hot_item li{
  position: relative;
  transition: all 0.3s;
  border-radius: 10px;
 }
 .hot_item li:hover{
  transform: scale(1.2);
 }
 .hot_item li:hover p{
  font-size: 1.2rem;
 }
 .hot_item li:hover img{
  filter:brightness(30%) ;
 }
 .hot_item li img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter:brightness(70%) ;
  border-radius: 10px;
 }
 .hot_item li nav{
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 20px;
  left: 30px;
  color: white;
  padding: 10px 10px 10px 5px;
  box-sizing: border-box;
 }
 .hot_item li nav p{
  font-size: 1rem;
  padding-bottom: 15px;
  border-bottom: 1px solid white;
  transition: all 0.2s;
 } 

 .hot_item li nav button{
  border: transparent;
  padding: 5px 5px;
  width: 120px;
  border-radius: 5px;
  margin-top: 15px;
  font-weight: bold;
  transition: all 0.5s;
  background-color: white;
 }
 .hot_item li nav button:hover{
  background-color: black;
  color: white;
 }

 /* men */
 .men .inner {
  display: flex;
  justify-content: space-between;
  gap: 20px;
 }

 .men .inner  img{
  width: 100%;
  height: 100%;
  filter:brightness(60%) ;
 }

 .men .inner div{
  position: relative;
 }
 .men .inner div ul{
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }

 .men .inner div ul li h3{
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 10px;
 }
 .men .inner div ul li{
  color: white;
  padding-bottom: 10px;
  font-size: 1.2rem;
  transition: all 0.2s;
 }
 .men .inner div ul li:hover{
  color: red
 }

 /* end */
.end .inner{
  position: relative;
}
.end img{
  width: 100%;
  filter:brightness(60%) ;
  padding-top: 20px;
  z-index: 1;
}

.end .end_logo{
  position: absolute;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;
}

.end .end_logo{
  width: 400px;
  font-size: 1.5rem;
}
.end .end_logo button{
  border: transparent;
  background-color: black;
  border: 1px solid black;
  color: white;
  padding: 10px 5px;
  border-radius: 5px;
  margin-top: 40px;
  transition: all 0.2s;
}
.end .end_logo button:hover{
  background-color: white;
  color: black;
  border: 1px solid black;
  box-sizing: border-box;
}

 /* footer */
 footer{
  background-color: #1C1C1C;
  height: 500px;
  color: white;
 }
 footer .inner{
  display: flex;
  flex-direction: column;
 }

 .ft_top{
  display: flex;
  padding-top: 100px;
  width: 100%;
  justify-content: space-between;
 }
 .ft_top_lt{
  display: flex;
  gap: 50px;
  justify-content: left;
 }
 .ft_top_lt ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
 }
 .ft_top_lt ul li{
  font-size: 0.8rem;
 }

 .ft_top_lt ul li:nth-child(1){
  font-weight: bold;
  font-size: 1rem;
  padding-bottom: 10px;}
 
  .ft_top_rt p{
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 1rem;
  }

 .ft_bt{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 50px;
  font-size: 0.8rem;
 }
 .ft_bt .ft_bt_1{
  width: 150px;
 }
 .ft_bt .ft_bt_1 img{
  width: 100%;
 }

 .ft_bt .ft_bt_2{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 40px;
 }