body{
    overflow-x: hidden;
}

.pc_show{
    display: block;
}
.pc_hide{
    display: none;
}

@media (max-width:1200px){
    .tb_show{
        display: block;
    }
    .tb_hide{
        display: none;
    }

    .inner{
        padding: 0 20px;
    }
    header .hd_top{
        padding: 0 5%;
}
.sect_1 img{
    width: 50%;
    transform: translateX(-55%);
}

.sect_2 .video_box{
    width: 60%;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: transparent;
}
.sect_2 .sect2_txt{
    top: 420px;
    width: 80%;
}
.sect_2 .sect2_txt strong{
    color: white;
}
.sect_2 .sect2_txt em{
    bottom: -50px;
    right: -10px;
}

.sect_3_txt_box {
    width: 50%;
    transform: translateX(-55%) translateY(-120px);
} .sect_3_slide{
    width: 80%;
    padding: 0 20px;
    padding-top: 100px;
}
.sect_4{
    display: flex;
    flex-direction: column;
}

.sect_4 .back{
    width: 80%;
}
.sect_4 .txt_box{
    padding: 0 100px;
    box-sizing: border-box;
}
.sect_4 h2{
    font-size: 2rem;
}
.sect_4 strong{
    font-size: 1.2rem;
    }
    
    .sect_6 .moon_1{
        left: 8%;
        top: 25%;
        }
        
        .sect_6 h2{
        left: 14%;
        top: 32%;
        }
    
        .sect_7 .moon_2{
        left: 8%;
        top: 15%;
        }
        
        .sect_7 h2{
        left: 14%;
        top: 22%;
        }
    
        .sect_6 .img_box{
            top: 50%;
            left: 50%;
            transform: translate(-43%, -12%);
            width: 100%;
            padding: 0 20px;
        }
        .sect_6  .buy_btn{
            display: none;
        }
        .sect_7 .img_box{
            top: 50%;
            left: 50%;
            transform: translate(-43%, -25%);
            width: 100%;
            padding: 0 20px;
        }
        .sect_7  .buy_btn{
        right: 12%;
        bottom: 22%;
        }
    
        .sect_7 nav img:nth-child(1){
            left: 77%;
            top: 22%;
        }
        .sect_7 nav img:nth-child(2){
            left: 5%;
            top: 45%;
        }

}
@media (max-width:800px){
    .pc_show{
        display: none;
    }
    .pc_hide{
        display: block;
    }
    .mb_show{
        display: block;
    }
    .mb_hide{
        display: none;
    }
    aside {
        display: none;
    }
    .hd_mb{
        position: fixed;
        z-index: 10;
        width: 100%;
    }
    .hd_top a{
        display: none;
    }
    .hd_1{
        display: none;
    }
    .hd_2{
        display: none;
    }

    .sect_1 img{
        width: 90%;
        transform: translateX(-55%);
}
    
    .sect_2 .video_box{
        width: 80%;
        padding: 0 20px;
        box-sizing: border-box;
        background-color: transparent;
    }
    .sect_2 .sect2_txt{
        top: 420px;
        width: 80%;
    }
    .sect_2 .sect2_txt strong{
        color: white;
    }
    .sect_2 .sect2_txt em{
        bottom: -50px;
        right: -10px;
    }
    .sect_3{
        display: flex;
        flex-direction: column;
    }
     .sect_3_slide{
        width: 80%;
        padding: 0 20px;
        padding-top: 100px;
    }
    .sect_3_txt_box {
        width: 80%;
    }
    .sect_3_txt_box p{
        left: 10%;
        top: 20%;
    }
   
    .sect_3_txt_box h2{
        left: 10%;
        top: 0%;
    }
    .sect_3_txt_box em{
    bottom: 50px;
    right: 0%;
    }
    .sect_3_txt_box .circle{
        left: 0%;
        top: 0%;
    }
    

    .sect_4{
        display: flex;
        flex-direction: column;
    }
    
    .sect_4 .back{
        width: 80%;
    }
    .sect_4 .txt_box{
        padding: 0 100px;
        box-sizing: border-box;
    }
    .sect_4 h2{
        font-size: 2rem;
    }
    .sect_4 strong{
        font-size: 1.2rem;
        }
    .sect_5 .tit_h1{
        font-size: 2.5rem;
        transform: translateY(-50%);

    }
    .sect_5 .tab_wrap{
        width: 80%;
        top: 46%;
    }
    .sect_5 .tab_menu .tab_btn{
        margin-top: 60px;
        margin-bottom: 20px;
    }
    .sect_5 .tab_contents .swiper{
        padding: 20px;
        box-sizing: border-box;
    }
    .sect_5 .buy_btn{
        position: absolute;
        right: 10%;
    }
    
    .sect_6 .moon_1{
    left: 8%;
    top: 25%;
    }
    
    .sect_6 h2{
    left: 14%;
    top: 32%;
    }

    .sect_7 .moon_2{
    left: 8%;
    top: 15%;
    }
    
    .sect_7 h2{
    left: 14%;
    top: 22%;
    }

    .sect_6 .img_box{
        top: 50%;
        left: 50%;
        transform: translate(-43%, -12%);
        width: 100%;
        padding: 0 20px;
    }
    .sect_6  .buy_btn{
        display: none;
    }
    .sect_7 .img_box{
        top: 50%;
        left: 50%;
        transform: translate(-43%, -25%);
        width: 100%;
        padding: 0 20px;
    }
    .sect_7  .buy_btn{
    right: 12%;
    bottom: 22%;
    }

    .sect_7 nav img:nth-child(1){
        left: 77%;
        top: 22%;
    }
    .sect_7 nav img:nth-child(2){
        left: 5%;
        top: 45%;
    }

    footer .pc_ft{
        display: none;
    }
}